.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header,
.footer {
  background-color: var(--primary-color);
  color: #fff;
  padding: 1rem;
  text-align: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.main-content {
  margin-top: 60px; /* Allow space for fixed header */
  flex: 1;
  padding: 2rem 1rem;
}

.footer {
  margin-top: auto;
}
